.container-fluid{
	width:100%;
	background-color: white;
}
body {
font-family: 'Open Sans', sans-serif;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EAEDED;
    color: black;
    text-align: left;
}
.btn{
	margin-left: 1px;
}
#text_area{

}